version: 2

jobs:
  test_node_12:
    docker:
    - image: circleci/node:8
    steps:
    - checkout
    - run: yarn
    - run: yarn test.prod
  release:
    docker:
    - image: circleci/node:12
    steps:
    - checkout
    - run: yarn
    - run: yarn build
    - run: yarn release

workflows:
  version: 2
  test_and_release:
    jobs:
    - test_node_12
    - release:
        filters:
          branches:
            only: master
        requires:
        - test_node_12
